*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-calculator: #aaa;
    --visor-background:  rgb(24, 72, 27);
}

body{
    background-image: url(./img/math_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    border: 3px solid red;
    background-color: var(--background-calculator);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    width: 450px;
    min-width: none;
    height: auto;
}

#visor-cur-exp, #current-exp-container{
    font-size: 20px;
    text-align: center;
}

.label-visor{
    background-color:var(--background-calculator);
    margin-right: 4px;
}

#current-exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    border: 3px solid rgb(100 43 14 / 68%);
    border-style: inset;
    box-shadow: inset 0px 0px 0px 1px #332e2e61;
    padding: 3px;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-right: 32px;
}

#current-exp{
    background-color: var(--visor-background);
    width: 100%;
    height: 20px;
}

#visor-cur-exp{
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    color: azure
}

#visor{
    width: 380px;
    height: 50px;
    background-color: var(--visor-background);
    color: azure;
    font-size: 25px;
    margin: 2px 10px 5px 10px;
    border: 3px solid black;
}

#visor-text{
    margin-top: 20px;
    font-size: 25px;
}


#calc-pad{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

#calc-pad-number{
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 300px;
    gap: 3px;
    align-self: center;
    max-width: 100%;
}

#calc-pad-operations{
    margin-left: 5px;
    width: 45px;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number, #equals, #float-point{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.operation{
    width: 30px;
    height: 20px;
}

#calc-pad-special{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid violet;
    margin-bottom: 0px;
    width: 300px;
    height: 35px;
}

.special-operations{
    height: auto;  
    width: 140px; 
}