*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-calculator: #272525;
    --visor-background:  rgb(24, 72, 27);
    --button-color: rgba(13, 13, 13, 0.523);
}

body{
    background-image: url(./img/math_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    border: 2px solid rgba(138, 132, 132, 0.884);
    box-shadow: 0px 1px 2px 0px black;
    background-color: var(--background-calculator);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    width: fit-content;
    padding: 3px;
    min-width: none;
    height: fit-content;
}

#visor-cur-exp, #current-exp-container{
    font-size: 20px;
    text-align: center;
}

.label-visor{
    background-color:var(--background-calculator);
    margin-right: 4px;
    color: azure;
}

#current-exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    border: 3px solid rgb(100 43 14 / 68%);
    border-style: inset;
    box-shadow: inset 0px 0px 0px 1px #332e2e61;
    padding: 3px;
    width: 45%;
    margin: 20px 10px 2px 0px;
}

#current-exp{
    background-color: var(--visor-background);
    width: 100%;
    height: 20px;
}

#visor-cur-exp{
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    color: azure
}

#visor{
    width: 295px;
    height: 50px;
    background-color: var(--visor-background);
    color: azure;
    font-size: 25px;
    margin: 2px 10px 5px 10px;
    text-align: end;
    border: 3px solid black;
}

#visor-text{
    margin: 10px 4px 10px 0px;
    font-size: 25px;

}


#calc-pad{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

#calc-pad-number{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 235px;
    gap: 3px;
    align-self: inherit;
    margin-bottom: 10px;
    max-width: 100%;
}

#calc-pad-operations{
    margin-left: -8px;
    width: 60px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column-reverse;
    height: 250px;
    justify-content: center;
    gap: 5px;
    align-self: center;
    align-items: center;
}


.number, #equals, #float-point{
    width: 50px;
    height: 50px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 5px;
}

.number, #equals, #float-point, .operation{
    background-color: var(--button-color);
    color: rgba(223, 220, 220, 0.861);
    box-shadow: 1px 1px 0px 0px black;
    font-weight: bolder;
}

.operation{
    width: 50px;
    border-radius: 0% 0% 15% 15%;
    height: 45px;
}

#calc-pad-special{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*border: 3px solid violet;*/
    margin-left: -50px;
    width: 300px;
    height: 35px;
}

.special-operations{
    height: auto;
    width: 75px;
    background-color: rgba(177, 38, 38, 0.735);
}

#plus{
    height: 85px;
}


button:hover,   #float-point:hover, #equals:hover{
    background-color: rgb(179, 122, 75);
}

button:active{
    background-color: var(--button-color);
    box-shadow: 0px 5px rgb(38, 37, 37);
    transform: translateY(2px);
}