*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-calculator: rgba(206, 194, 194, 0.623);
    --visor-background:  rgb(24, 72, 27);
}

body{
    background-color: rgba(65, 127, 149, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    border: 3px solid red;
    background-color: var(--background-calculator);
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    width: 450px;
    min-width: none;
    height: auto;
}

#visor-cur-exp, #current-exp-container{
    font-size: 20px;
}

.label-visor{
    background-color:var(--background-calculator);
}

#current-exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    width: 35%;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-right: 15px;
}

#current-exp{
    background-color: var(--visor-background);
    width: 100%;
    height: 20px;
}

#visor-cur-exp{
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    margin-bottom: 0px;
    color: black;
}

#visor{
    width: auto;
    height: 50px;
    background-color: var(--visor-background);
    color: azure;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

#visor-text{
    margin-top: 20px;
    font-size: 25px;
}


#calc-pad{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

#calc-pad-number{
    border: 3px solid blue;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-self: center;
    flex-direction: row;
}

#calc-pad-operations{
    margin-left: 5px;
    width: 45px;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number, #equals, #float-point{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.operation{
    width: 30px;
    height: 20px;
}

#calc-pad-special{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid violet;
    margin-bottom: 0px;
    width: 90%;
    height: 35px;
}

.special-operations{
    
}